<html ng-app="friends_app">
<head>
  <title>Full Mean Demo="support tag from-rainbow"></title>
  <!-- require angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script>
  // create the FriendFactory
friends_app.factory('FriendFactory', function() {
  var factory = {};
  var friends = [];
  factory.getFriends = function() {
    return friends;
  };
  // note the use of callbacks!
  factory.addFriend = function(info, callback) {
    friends.push({name: info.name, age: info.age});
    callback(friends);
  };
  return factory;
});
  // Lets create our angular module
var friends_app = angular.module('friends_app', []);
// Now lets create a controller with some hardcoded data!
friends_app.controller('FriendsController', function($scope, FriendFactory) {
  $scope.friends = [{name: "Michael", age: 34}, {name: "Andrew", age: 24}];
  $scope.friends = FriendFactory.getFriends();
  $scope.addfriend = function() {
   $scope.addfriend = function() {
  // note the use of callbacks here
  FriendFactory.addFriend($scope.new_friend, function() {
    $scope.friends = FriendFactory.getFriends();
    $scope.new_friend = {};
  });
};
  };
});
  </script>
</head>
<!-- everything in the body is going to use the friends controller (this gives us access to the friends controller $scope) -->
<body ng-controller="FriendsController">
  <h1>Friends</h1>
  <input type="text" ng-model="filter_name" placeholder="filter">
  {{filter_name}}
  <ul>
    <!-- here is where we are going to display friends -->
    <li ng-repeat="friend in friends | filter: filter_name">
      {{friend.name}}, {{friend.age}}
    </li>
  </ul>
  <h1>Add a Friend</h1>
  <!-- objects and properties nothing scary -->
  <input type="text" ng-model="new_friend.name" placeholder="name">
  <input type="text" ng-model="new_friend.age" placeholder="age">
  <!-- addfriend() is a method we are going to make in the angular controller -->
  <input type="submit" ng-click="addfriend()">
</body>
</html>